.hero {
  height: 100vh;
  background: url("hero.jpg") center/cover no-repeat;
  @include flex-center;
  text-align: center;
  color: #fff;

  .hero-content {
    max-width: 600px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
}
